body {
    background-color: #012;
    text-align: center;
}

.container {
    font-size: 175px;
    width: 100%;
    margin: 200px;
    color: teal;
    border: 2px solid teal;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
@media screen and (max-width: 900px) {
  .container {
    font-size: 55px;
    padding: 10px;
    width: 250px;
   
   }
}