body {
    background-color: #012;
    color: red;
    text-align: center;
}

.container {
    font-size: 175px;
    width: 900px;
    margin: 200px;
    color: teal;
    border: 2px solid teal;
    border-radius: 20px;
}
 
@media screen and (max-width: 670px) {
  .container {
    font-size: 35px;
    width: 200px;
    margin: 100px;
    align-items: center;
    color: teal;
    border: 2px solid teal;
    border-radius: 20px;
   }
}