body {
    background-color: #012;
    text-align: center;
}

.container {
    font-size: 175px;
    width: 900px;
    margin: 200px;
    color: teal;
    border: 2px solid teal;
    border-radius: 20px;
}
 
@media screen and (max-width: 670px) {
  .container {
    font-size: 55px;
    padding: 10px;
    display: flex;

   }
}